<form [formGroup]="form" (ngSubmit)="onCreateClick()">
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control" [class.is-invalid]="wasSubmitted && form.controls.name.errors" id="name" type="text"/>
        <div *ngIf="wasSubmitted && form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Required</div>
            <div *ngIf="form.controls.name.errors.maxlength">Max length is {{form.controls.name.errors.maxlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control" [class.is-invalid]="wasSubmitted && form.controls.description.errors"
                  id="description" rows="2">
        </textarea>
        <div *ngIf="wasSubmitted && form.controls.description.errors" class="invalid-feedback">
            <div *ngIf="form.controls.description.errors.maxlength">Max length is {{form.controls.description.errors.maxlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="currency">Currency</label>
        <select formControlName="currencyId" class="custom-select" id="currency" aria-describedby="currency-help-block">
            <ng-container *ngIf="currencies; else loadingCurrencies">
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</option>
            </ng-container>
            <ng-template #loadingCurrencies>
                <option [value]="mainCurrency.id">{{mainCurrency.name}}</option>
            </ng-template>
        </select>
        <div id="currency-help-block" class="form-text text-muted small">
            Сan not be changed in the future
        </div>
        <div *ngIf="form.controls.currencyId.errors" class="invalid-feedback">
            <div *ngIf="form.controls.currencyId.errors.required">Required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="initial-balance">Initial balance</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="currency-iso-code">{{selectedCurrency.isoCode}}</span>
            </div>
            <input formControlName="initialBalanceFloat" currencyMask [options]="{allowNegative: true}" class="form-control" id="initial-balance"
                   type="text" placeholder="0.00" autocomplete="off" aria-describedby="currency-iso-code">
        </div>
    </div>
    <button [disabled]="isLoading" class="btn btn-outline-primary" type="submit">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Create
    </button>
    <button (click)="onCancelClick()" [disabled]="isLoading" class="btn btn-link mr-2">Cancel</button>
</form>
