<form [formGroup]="form" (ngSubmit)="onCreateClick()">
    <div class="mb-2 d-flex">
        <div class="custom-control custom-checkbox mr-3">
            <input formControlName="isUsedForIncomes" class="custom-control-input" id="category-creation-for-incomes" type="checkbox">
            <label class="custom-control-label" for="category-creation-for-incomes" i18n="Operation category@@for-incomes">For incomes</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input formControlName="isUsedForOutcomes" class="custom-control-input" id="category-creation-for-outcomes" type="checkbox">
            <label class="custom-control-label" for="category-creation-for-outcomes" i18n="Operation category@@for-outcomes">For outcomes</label>
        </div>
    </div>
    <div class="mb-2">
        <div class="input-group">
            <input formControlName="categoryName" class="form-control" [class.is-invalid]="wasSubmitted && form.controls.categoryName.errors"
                   type="text" placeholder="Name" i18n-placeholder="@@operations-category-name">
            <div class="input-group-append">
                <button [disabled]="isLoading || (wasSubmitted && form.invalid)" class="btn btn-outline-primary" type="submit">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    <ng-container i18n="@@create">Create</ng-container>
                </button>
            </div>
        </div>
        <div *ngIf="wasSubmitted && form.controls.categoryName.errors" class="text-danger small">
            <div *ngIf="form.controls.categoryName.errors.required" i18n="Input error@@required">Required</div>
            <div *ngIf="form.controls.categoryName.errors.maxlength">
                <ng-container i18n="Input error@@max-length">Max length is</ng-container> {{form.controls.categoryName.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="form.controls.categoryName.errors.nonUniqueName" i18n="Input conflict@@operations-category-already-exists">
                Category with such a name already exists
            </div>
        </div>
    </div>
    <div *ngIf="isSuccess" class="alert alert-success mt-2 mb-1" i18n="@@alert-created">Created</div>
</form>
