<div class="container">
    <ng-container *ngIf="storagesService.storages$ | async as storages">
        <ng-container *ngIf="storages | isInvitationFilter:true as invitations">
            <ng-container *ngIf="invitations.length > 0">
                <h4 class="mb-3">Invitations</h4>
                <div class="row">
                    <ng-container *ngFor="let invitation of invitations">
                        <app-storage-card [storage]="invitation" class="col-sm-6 col-lg-4 mb-3"></app-storage-card>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <h4 class="mb-3">Storages</h4>
        <div class="row">
            <ng-container *ngFor="let storage of (storages | isInvitationFilter:false | isIncludedInUserStatisticsSort)">
                <app-storage-card [storage]="storage" class="col-sm-6 col-lg-4 mb-3"></app-storage-card>
            </ng-container>
            <app-storage-creation-card class="col-sm-6 col-lg-4 mb-3"></app-storage-creation-card>
        </div>
    </ng-container>
</div>
