<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2 class="">
                Welcome
                <br>to Budget<span class="text-primary">GO</span>
            </h2>
            <p class="text-secondary mb-3">
                Application for personal and shared budget control. Awesome place for your incomes and outcomes
            </p>
        </div>
        <div class="col-md-6  offset-md-1">
            <div class="card accordion mb-3" id="authentication-accordion">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#sign-in" role="button" aria-expanded="false">
                        Authentication
                    </a>
                    <div class="collapse show" id="sign-in" data-parent="#authentication-accordion">
                        <div class="list-group-item">
                            <app-login-form (successReturning)="onFormSuccessReturning()"></app-login-form>
                        </div>
                    </div>

                    <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#sign-up" role="button" aria-expanded="false">
                        First time here? <b>Registration</b>
                    </a>
                    <div class="collapse" id="sign-up" data-parent="#authentication-accordion">
                        <div class="list-group-item">
                            <ng-container *ngIf="currenciesService.currencies$ | async as currencies; else loading">
                                <app-registration-form [currencies]="currencies" (successReturning)="onFormSuccessReturning()"></app-registration-form>
                            </ng-container>
                            <ng-template #loading>
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                Loading
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
