<div class="card">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#storage-users-content" role="button" aria-expanded="false"
           aria-controls="storage-users-content">
            <ng-container i18n="@@users">Users</ng-container>
            <span *ngIf="!storageUsers" class="spinner-border spinner-border-sm mr-1"></span>
            <span *ngIf="storageUsers" class="badge badge-dark dropdown-toggle ml-1">{{storageUsers.length}}</span>
        </a>
        <div class="collapse" id="storage-users-content">
            <ng-container *ngIf="storageUsers">
                <div *ngIf="authoritiesService.canSendInvitations(storage.settings.userRole)" class="list-group-item">
                    <app-storage-user-invitation-form [storage]="storage" [storageUsers]="storageUsers"></app-storage-user-invitation-form>
                </div>
                <ng-container *ngIf="userDetailsService.userDetails$ | async as userDetails">
                    <div *ngFor="let storageUser of storageUsers; let i = index" class="list-group-item">
                        <div class="mb-0">
                            <h6 class="mb-1">@{{storageUser.user.login}}</h6>
                            <div class="text-muted small">
                                {{storageUser.user.name}} {{storageUser.user.surname}}
                                <ng-container *ngIf="storageUser.user.isEmailPublic">
                                    - {{storageUser.user.email}}
                                </ng-container>
                            </div>
                        </div>
                        <div *ngIf="storageUser.user.id !== userDetails.id
                             && authoritiesService.canBeModifiedBy(storageUser.userRole, storage.settings.userRole); else cantModify" class="d-flex">
                            <div class="dropdown mr-3">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    <ng-container [ngSwitch]="storageUser.userRole">
                                        <ng-container *ngSwitchCase="userStorageRole.VIEWER" i18n="@@viewer">Viewer</ng-container>
                                        <ng-container *ngSwitchCase="userStorageRole.ADMIN" i18n="@@admin">Admin</ng-container>
                                        <ng-container *ngSwitchCase="userStorageRole.EDITOR" i18n="@@editor">Editor</ng-container>
                                    </ng-container>
                                </a>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header" i18n="@@change-user-role">Change role</h6>
                                    <app-user-storage-roles-dropdown-items (roleSelect)="onUserRoleChange(storageUser, $event)">
                                    </app-user-storage-roles-dropdown-items>
                                </div>
                            </div>
                            <a (click)="onRemoveUserClick(storageUser)" class="text-danger" i18n="@@remove">Remove</a>
                        </div>
                        <ng-template #cantModify>
                            <ng-container [ngSwitch]="storageUser.userRole">
                                <ng-container *ngSwitchCase="userStorageRole.VIEWER" i18n="@@viewer">Viewer</ng-container>
                                <ng-container *ngSwitchCase="userStorageRole.ADMIN" i18n="@@admin">Admin</ng-container>
                                <ng-container *ngSwitchCase="userStorageRole.EDITOR" i18n="@@editor">Editor</ng-container>
                                <ng-container *ngSwitchCase="userStorageRole.CREATOR" i18n="@@creator">Creator</ng-container>
                            </ng-container>
                        </ng-template>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
