<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h2>
                <ng-container i18n="Oops! Error 404">Oops! Error</ng-container>
                <span class="text-primary"> 404</span>
            </h2>
            <p class="text-secondary mb-4" i18n="Error 404">
                How did you get here? It looks like you are lost
            </p>
            <a routerLink="/" class="btn btn-outline-primary" i18n="@@main-page">Home</a>
        </div>
    </div>
</div>
