<form [formGroup]="form" (ngSubmit)="onSaveClick()">
    <div class="form-group">
        <label for="login">Login</label>
        <input formControlName="login" class="form-control" [class.is-invalid]="form.controls.login.errors" id="login" type="text"
               autocomplete="username"/>
        <div *ngIf="form.controls.login.errors" class="invalid-feedback">
            <div *ngIf="form.controls.login.errors.required">Required</div>
            <div *ngIf="form.controls.login.errors.pattern">Can contain only Latin letters, numbers, underscores, hyphens and periods</div>
            <div *ngIf="form.controls.login.errors.maxlength">Max length is {{form.controls.login.errors.maxlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control" [class.is-invalid]="form.controls.email.errors" id="email" type="text"/>
        <div *ngIf="form.controls.email.errors" class="invalid-feedback">
            <div *ngIf="form.controls.email.errors.required">Required</div>
            <div *ngIf="form.controls.email.errors.email">Invalid email</div>
            <div *ngIf="form.controls.email.errors.maxlength">Max length is {{form.controls.email.errors.maxlength.requiredLength}}</div>
        </div>
        <div class="custom-control custom-checkbox mt-1">
            <input formControlName="isEmailPublic" class="custom-control-input" id="is-email-public" type="checkbox">
            <label class="custom-control-label" for="is-email-public">Make email visible for everyone</label>
        </div>
    </div>
    <div class="form-group">
        <label for="btn-password-modal">Password</label>
        <button class="btn btn-light d-block" id="btn-password-modal" type="button" data-toggle="modal" data-target="#password-change-modal">Change
        </button>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control" [class.is-invalid]="form.controls.name.errors" id="name" type="text"/>
        <div *ngIf="form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Required</div>
            <div *ngIf="form.controls.name.errors.maxlength">Max length is {{form.controls.name.errors.maxlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input formControlName="surname" class="form-control" [class.is-invalid]="form.controls.surname.errors" id="surname" type="text"/>
        <div *ngIf="form.controls.surname.errors" class="invalid-feedback">
            <div *ngIf="form.controls.surname.errors.required">Required</div>
            <div *ngIf="form.controls.surname.errors.maxlength">Max length is {{form.controls.surname.errors.maxlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="main-currency">Main Currency</label>
        <select formControlName="mainCurrencyId" class="custom-select" id="main-currency">
            <ng-container *ngIf="(currenciesService.currencies$ | async) as currencies; else loadingCurrencies">
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</option>
            </ng-container>
            <ng-template #loadingCurrencies>
                <option [value]="userDetails.mainCurrency.id">{{userDetails.mainCurrency.name}}</option>
            </ng-template>
        </select>
        <div *ngIf="form.controls.mainCurrencyId.errors" class="invalid-feedback">
            <div *ngIf="form.controls.mainCurrencyId.errors.required">Required</div>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <button [disabled]="isLoading || this.form.invalid" class="btn btn-outline-primary" type="submit">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>
</form>


<div class="modal fade" id="password-change-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Password change</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-user-password-edit-form></app-user-password-edit-form>
            </div>
        </div>
    </div>
</div>
