a, .btn, .list-group-item-action {
    cursor: pointer;
}

.list-group-item-action {
    z-index: 1;
}

.card-action {
    cursor: pointer;
}

.card-action:hover {
    z-index: 1;
    text-decoration: none;
    background-color: #f8f9fa;
}

[class^="col-"]{
    padding: 0 8px;
}

.container {
    padding: 0 23px;
}
