<form [formGroup]="form" (ngSubmit)="onSaveClick()">
    <div class="form-group">
        <label for="password-edit" i18n="@@new-password">New password</label>
        <input type="password" formControlName="password" class="form-control" [class.is-invalid]="wasSubmitted && form.controls.password.errors"
               id="password-edit" autocomplete="new-password"/>
        <div *ngIf="wasSubmitted && form.controls.password.errors" class="invalid-feedback">
            <div *ngIf="form.controls.password.errors.required" i18n="Input error@@required">Required</div>
            <div *ngIf="form.controls.password.errors.minlength">
                <ng-container i18n="Input error@@min-length">Min length is</ng-container> {{form.controls.password.errors.minlength.requiredLength}}
            </div>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <button [disabled]="isLoading || (wasSubmitted && form.invalid)" class="btn btn-outline-primary">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        <ng-container i18n="@@save">Save</ng-container>
    </button>
</form>
