<form [formGroup]="form" (ngSubmit)="onSaveClick()">
    <div class="form-group">
        <label for="password">New password</label>
        <input type="password" formControlName="password" class="form-control"
               [class.is-invalid]="form.controls.password.errors" id="password"/>
        <div *ngIf="form.controls.password.errors" class="invalid-feedback">
            <div *ngIf="form.controls.password.errors.required">Required</div>
            <div *ngIf="form.controls.password.errors.minlength">Min length is 6</div>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success">{{success}}</div>
    <button [disabled]="isLoading || this.form.invalid" class="btn btn-primary">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
    </button>
</form>
