<div class="card mb-3" [class.border-danger]="storage.settings.isIncludedInUserStatistics && storage.balance < 0">
    <div class="card-body" [class.text-secondary]="!storage.settings.isIncludedInUserStatistics">
        <h5 class="card-title mb-1 ">{{storage.name}}</h5>
        <p class="card-text text-muted mb-3" id="description">{{storage.description}}<br *ngIf="!storage.description"></p>
        <h4 class="card-title mb-0" [class.text-danger]="storage.settings.isIncludedInUserStatistics && storage.balance < 0">
            <span class="badge" [ngClass]="{
                'badge-secondary': !storage.settings.isIncludedInUserStatistics,
                'badge-danger': storage.settings.isIncludedInUserStatistics && storage.balance < 0,
                'badge-dark': storage.settings.isIncludedInUserStatistics && storage.balance >= 0
            }">
                {{storage.currency.isoCode}}
            </span>
            {{storage.balance | money}}
        </h4>
    </div>
</div>
<div *ngIf="storage.settings.isInvitation" class="card mb-3">
    <div class="card-body">
        <p class="card-text">User @{{storage.settings.inviter.login}} invites you to this storage</p>
        <button (click)="onAcceptInvitationClick()"
                [disabled]="this.isAcceptInvitationLoading || this.isUnsubscribeLoading" class="btn btn-outline-success mr-2">
            <span *ngIf="isAcceptInvitationLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Accept
        </button>
        <button (click)="onUnsubscribeClick()"
                [disabled]="this.isAcceptInvitationLoading || this.isUnsubscribeLoading" class="btn btn-outline-danger">
            <span *ngIf="isUnsubscribeLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Decline
        </button>
    </div>
</div>
<div *ngIf="!storage.settings.isInvitation" class="card mb-3">
    <div class="list-group list-group-flush">
        <div (click)="toggleFollowingExpanded()" class="list-group-item list-group-item-action dropdown-toggle">Following</div>
        <div *ngIf="isFollowingExpanded" class="list-group-item">
            <div class="custom-control custom-checkbox mb-3">
                <input (change)="toggleIncludedInUserStatistics()" [disabled]="isIncludedInUserStatisticsLoading" type="checkbox"
                       class="custom-control-input" id="is-included-in-user-statistics" [checked]="storage.settings.isIncludedInUserStatistics">
                <label class="custom-control-label" for="is-included-in-user-statistics">
                    <span *ngIf="isIncludedInUserStatisticsLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Include storage in my statistics
                </label>
            </div>
            <button (click)="onUnsubscribeClick()" [disabled]="isUnsubscribeLoading" class="btn btn-outline-danger mb-2 w-100">
                <span *ngIf="isUnsubscribeLoading" class="spinner-border spinner-border-sm mr-1"></span>
                Unsubscribe
            </button>
        </div>
    </div>
</div>
