<div class="card">
    <div class="list-group list-group-flush">
        <ng-container *ngFor="let balance of (balances | balancesCurrencyIsoCodeSort)">
            <div class="list-group-item" [class.text-danger]="balance.money < 0">
                <p class="mb-0" [class.h5]="balance.currency.id !== mainCurrency.id" [class.h4]="balance.currency.id === mainCurrency.id">
                    <span class="badge badge-dark mr-1" [ngClass]="{'badge-danger': balance.money < 0, 'badge-dark': balance.money >= 0}">
                        {{balance.currency.isoCode}}
                    </span>
                    {{balance.money | money}}
                </p>
            </div>
        </ng-container>
    </div>
    <div *ngIf="balances.length === 0" class="card-body" i18n>You have no storages with activated statistics</div>
</div>
